nav.navbar {
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   width: 100%;
   background-color: hsl(214, 42%, 26%);
   font-family: 'Nunito', sans-serif;
   -webkit-box-shadow: 0 3px 5px 0 hsla(0, 0%, 0%, 0.05);
   -moz-box-shadow: 0 3px 5px 0 hsla(0, 0%, 0%, 0.05);
   box-shadow: 0 3px 5px 0 hsla(0, 0%, 0%, 0.05);
}

/* Top navbar */
.navbar-top {
   margin: 0 auto;
   width: 1080px;
   padding: 0 30px;
   height: 70px;
   display: flex;
   justify-content: flex-end;
}

/* Bottom navbar */
.navbar-bottom {
   margin: 0 auto;
   width: 1080px;
   padding: 0 30px;
   height: 50px;
   display: flex;
   align-items: center;
   overflow: hidden;
}

.navbar-list {
   margin: 0;
   padding: 0;
   list-style-type: none;
   width: 90%;
}

.navbar-list-right {
   display: flex;
   justify-content: flex-end;
   width: 10%;
}

.nav-item {
   float: left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50px;
   margin-right: 50px;
   border-bottom: 6px solid transparent;
}

.nav-item-right {
   margin-right: 0px;
}

.nav-link {
   font-weight: 700;
   font-size: .79em;
   color: hsla(0, 0%, 100%, .6);
   letter-spacing: .9px;
   text-align: center;
   text-decoration: none;
}

.nav-link:hover {
   color: hsl(0, 0%, 100%);
}

.nav-link-active {
   border-color: hsl(133, 44%, 51%);
}

.nav-link-active {
   color: hsl(0, 0%, 100%);
}

/* Dropdown */
.navbar-top-dropdown {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 70px;
}
 
.dropdown {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   height: 50px;
   list-style-type: none;   
}

/* Username */
.dropdown label {
   cursor: pointer;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   letter-spacing: .9px;   
   color: hsla(0, 0%, 100%, .95);
   font-weight: 600;
}

.dropdown label > img {   
   padding: 0;
   margin: 0;
   margin-right: 10px;
   height: 20px;
   width: 20px;
   border-radius: 50%;
   border: 2px solid hsla(0, 0%, 100%, .8);
}

.dropdown label:hover,
.dropdown input:checked ~ label{ color: hsla(0, 0%, 100%); }

/* Dropdown menu */
.dropdown input { display: none }

.dropdown input:checked ~ ul.dropdown-menu {
   max-height: 300px;
   transition: max-height 0.5s ease-in;
}

ul.dropdown-menu {
   position: absolute;
   top: 40px;
   right: 10px;
   width: 200px;
   max-height: 0;
   padding: 0;
   overflow: hidden;
   list-style-type: none;
   background-color:#fff;
   box-shadow: 0 3px 5px 0 hsla(0, 0%, 0%, 0.05);
   transition: max-height 0.5s ease-out;
}

ul.dropdown-menu li a {
   display: block;
   padding: 12px 28px;
   font-size: .9rem;
   color: hsl(0, 0%, 29%);
   text-decoration: none;
   white-space: nowrap;
}

ul.dropdown-menu li a i {
   margin-right: 15px;
}

ul.dropdown-menu li a:hover{
   background: hsl(0, 0%, 97%);
}