html {
   overflow: visible;
}

body {
   background-color: hsl(0, 0%, 97%);
   overflow-y: scroll;
   margin: 0 auto;
   width: 1240px;
   padding: 0 30px;
   padding-top: 160px;
   padding-bottom: 40px;
   color: hsl(0, 0%, 29%);
   letter-spacing: .9px;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

html, body {
   font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
   margin: 0;
   padding: 0;
   font-weight: initial;
}

/* Buttons */
.btn {
	border: none;
   border-radius: 0.2em;
	font-family: inherit;
	font-size: .7em;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 0 6px;
	display: inline-block;
	font-weight: 600;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-details {
   color: hsl(133, 44%, 51%);
   border: 2px solid hsl(133, 44%, 51%);
   border-radius: 5px;
   text-transform: uppercase;
   font-weight: 700;
}

.btn-details:hover,
.btn-details:active {
   background: hsl(133, 44%, 51%);
   color: #fff;
}

.btn-favourite {
   color: hsl(0, 0%, 95%);
   border: 2px solid hsl(0, 0%, 95%);
   border-radius: 5px;
}

.btn-favourite:hover,
.btn-favourite:active {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
   color: hsl(0, 0%, 95%);   
}

.btn-default {
   color: hsl(133, 44%, 98%);
   background-color: hsl(133, 44%, 51%);
}

.btn-default:hover,
.btn-default:active {
   background: hsl(133, 44%, 45%);
   color: #fff;
}